* 
{
	box-sizing: border-box;
}

body, html 
{
	margin: 0;
	padding: 0;
	height: auto;
	font-family: "Source Sans Pro", serif;
	font-weight: 400;
}

.row 
{
	width: 100%;
	max-width: 62.5em;
	margin: auto;
}