/**
*
* force container styles
*
**/

#progressForce
{
	width: 900px;
	margin: 25px auto;
	height: auto;
	position: relative;
}

// styles for individual nodes
.node 
{
  stroke-width: 1px;
}

// styles for individual links
.link 
{
  stroke: #eaeaea;
}


#forceKey
{
	display: block;
	position: absolute;
	bottom: 0;
	right: 100;
	height: 100px;
	width: 100%;
}

#forceKey > text
{
	text-anchor: middle;
	dominant-baseline: central;
	alignment-baseline: middle;
}

#forceKey .keyFilledCircle
{
	fill: #f7505a;
	display: block;
}

#forceKey .keyRadiusCircle
{
	fill: none;
	stroke-width: 1px;
	stroke: #f7505a;
	display: block;
}