/**
*
* pie charts container styles
*
**/

#progressForce
{
	width: 900px;
	margin: 0 auto;
	height: auto;
	position: relative;
}

// styles for individual nodes
.node {
  stroke-width: 1px;
}

// styles for individual links
.link {
  stroke: #e1e1e1;
}