*
{
	@include box-sizing(border-box);
}

body, html
{
	background-color: #f1f1f1;
	font-family: 'Source Sans Pro', Helvetica, Arial, serif;
	margin: 0;
	padding: 0;
}


/**
*
* global tooltip styles
*
**/

.tooltip
{
	width: 100px;
	font-size: 12px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	text-align: center; 
	display: inline;
	
	@include border-radius(3px);
}

.tooltip:before
{	
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 42px;
	top: -14px;
	border: 7px solid;
	border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
}
