/**
*
* pie charts container styles
*
**/

#progressPie
{
	width: 920px;
	margin: 0 auto;
	height: auto;
	position: relative;
}

/**
*
* individual pie charts styles
*
**/

// render crisp edges for pies
.progressPieMarks path
{
	shape-rendering: geometricPrecision;
}

// colour scheme for overall marks pie

.progressPieMarks path:nth-child(1)
{
	fill: #f7505a;
}
.progressPieMarks path:nth-child(2)
{
	fill: #e1e1e1;
	pointer-events: none;
}

// colour scheme for overall marks pie

.progressPieWeights path:nth-child(1)
{
	fill: #f7505a;
}

.progressPieWeights path:nth-child(2)
{
	fill: #009999;
}

.progressPieWeights path:nth-child(3)
{
	fill: #ff7400;
}

.progressPieWeights path:nth-child(4)
{
	fill: #00c322;
}

.progressPieWeights path:nth-child(5)
{
	fill: #cd35d3;
}

/**
*
* Pie chart tooltop styles
*
**/

#pieTooltip
{
	width: 100px;
	font-size: 12px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	text-align: center; 

	@include border-radius(3px);
}

#pieTooltip:before
{	
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 42px;
	top: -14px;
	border: 7px solid;
	border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
}



