/**
*
* pie charts container styles
*
**/

#pieCharts
{
	width: 680px;
	margin: 0 auto;
	height: auto;
	max-height: 450px;
}

/**
*
* individual pie charts styles
*
**/

#pieCharts > svg
{
	@include box-sizing(content-box);
	padding: 20px;
}

