h1, h2, h3
{
	font-family: 'Source Sans Pro', sans-serif;
}

h1
{
  color: #f7505a;
  letter-spacing: -2px;
  font-weight: 200;
}

h2, h3
{
	letter-spacing: -1px;
	font-weight: 100;
}

h3
{
	color: lighten(#f7505a, 10%);
}