// include compass mixins
@import "compass/reset";
@import "compass/css3";

// include normalize scss
// include foundation
@import "normalize-scss/_normalize.scss";
// include foundation
@import "foundation/scss/foundation.scss";

// import global partial
@import "global.scss";

// partials
@import "buttons.scss";
@import "pie.scss";
@import "force.scss";
@import "scatter.scss";
@import "type.scss";

#progress
{
	width: 900px;
	margin: auto;
}

#content
{
	overflow-x: hidden;
}

.slideWrap
{
	float: left;
}

.slide
{
	background-color: white;
	margin: 50px auto;
	padding: 40px;

	@include border-radius(3px);
	@include box-shadow(rgba(0, 0, 0, 0.4) 0px 2px 6px);

}
